.contenedor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color:#56bdec;
    padding: 1%;

}

.titulo{
    text-align: center;

}

.contenedor_eliminar{
    text-align: center;
    background-color: #56bdec;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 1%;
}

